<!-- Header -->
<div class="row my-3">
    <img src="{{logo}}" alt="Logo d'A.L.I.C.E. Développement Web" class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
  </div>
|
  <nav class="navbar navbar-expand-lg">
      <button class="navbar-toggler col-10 offset-1 col-md-4 offset-md-4 d-flex flex-row justify-content-between align-items-center justify-content-md-start d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <img src="assets/images/logo_mini.png" alt="" class="col-3">
        <span class="ms-md-5 d-lg-none">Menu</span>
        <img src="assets/images/logo_mini.png" alt="" class="col-3 reversed-mini-logo d-md-none">
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-5 mx-lg-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              A la rencontre d'A.L.I.C.E.
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" [routerLink]="['decouvrez-alice']">Le concept A.L.I.C.E.</a></li>
              <li><a class="dropdown-item" [routerLink]="['decouvrez-alice']" fragment="aboutme">Antoine, pour vous servir !</a></li>
              <li><a class="dropdown-item" [routerLink]="['decouvrez-alice']" fragment="partners">Ils me font confiance</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Votre (futur ?) site internet
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" [routerLink]="['creation-gestion-reparation-de-votre-site-internet']" >Un site ? Pour quoi faire ?</a></li>
              <li><a class="dropdown-item" [routerLink]="['creation-gestion-reparation-de-votre-site-internet']" fragment="site-creation">Créer votre site, c'est possible !</a></li>
              <li><a class="dropdown-item" [routerLink]="['creation-gestion-reparation-de-votre-site-internet']" fragment="site-maintain">Entretenir votre site</a></li>
              <li><a class="dropdown-item" [routerLink]="['creation-gestion-reparation-de-votre-site-internet']" fragment="site-fix">Réparer votre site</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Assistance numérique
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a [routerLink]="['assistance-numerique']"class="dropdown-item">Accompagnement et assistance à domicile</a></li>
              <li><a class="dropdown-item" [routerLink]="['assistance-numerique']" fragment="courses">Cours individuels à la carte</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" [routerLink]="['assistance-numerique']" fragment="collective-courses">Cours collectifs à la demande</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Signé A.L.I.C.E.
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" [routerLink]="['signe-alice']" fragment="#">A.L.I.C.E. - le blog</a></li>
              <li><a class="dropdown-item" [routerLink]="['signe-alice']" fragment="#">Ligeia Videochat</a></li>
              <li><hr class="dropdown-divider"></li>
              <li class="nav-item text-center">
                <a class="dropdown-item" href="https://futur.alicedeveloppementweb.fr">Le site expérimental d'A.L.I.C.E.</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['contact']" fragment="#">Contactez moi !</a>
          </li>
        </ul>
      </div>
  </nav>