<footer id="main-footer" class="mt-5">

    <div class="contact-info d-flex flex-column justify-content-center align-items-center">
        <h3>A.L.I.C.E. Développement Web</h3>
        <h4>Antoine LUDWIG GALLI</h4>
        <p>Situé entre Dijon et Auxerre, à Pouillenay</p>
        
        <p>  <a href="tel:0744539243" >07.44.53.92.43</a><span> - </span>
        <a href="mailto:alice.webdeveloppement@gmail.com">alice.webdeveloppement@gmail.com</a></p>
    </div>
    <ul class="social-icons d-flex flex-row flex-wrap text-light justify-content-center align-items-center">
        <li><a href="https://www.facebook.com/profile.php?id=100086416030043" target="_blank"><img src="../../assets/images/icons/facebook.png" alt="Icône Facebook"></a></li>
        <li><a href="https://www.instagram.com/alicedeveloppementweb/" target="_blank"><img src="../../assets/images/icons/instagram.png" alt="Icône Instagram"></a></li>
        <li><a href="https://www.linkedin.com/in/antoine-ludwig-developpeur-web/" target="_blank"><img src="../../assets/images/icons/linkedin.png" alt="Icône LinkedIn"></a></li>
        <li><a href="https://github.com/AntoineLudwigGalli" target="_blank"><img src="../../assets/images/icons/github.png" alt="Icône Github"></a></li>
    </ul>

</footer>


