<footer id="main-footer" class="pt-5">

    <div class="contact-info text-center d-flex flex-column justify-content-center align-items-center">
        <h3>A.L.I.C.E. Développement Web</h3>
        <h4>Antoine LUDWIG GALLI</h4>
        <p>Situé entre Dijon et Auxerre, à Pouillenay</p>
        
        <p>  <a href="tel:0744539243" >07.44.53.92.43</a><span> - </span>
        <a href="mailto:alice.webdeveloppement@gmail.com">alice.webdeveloppement@gmail.com</a></p>
    </div>
    <ul class="social-icons d-flex flex-row flex-wrap text-light justify-content-center align-items-center text-center">
        <li><a href="https://www.facebook.com/profile.php?id=100086416030043" target="_blank"><fa-icon [icon]="faFacebook" class="text-light"></fa-icon></a></li>
        <li><a href="https://www.instagram.com/alicedeveloppementweb/" target="_blank"><fa-icon [icon]="faInstagram" class="text-light"></fa-icon></a></li>
        <li><a href="https://www.linkedin.com/in/antoine-ludwig-developpeur-web/" target="_blank"><fa-icon [icon]="faLinkedIn" class="text-light"></fa-icon></a></li>
        <li><a href="https://github.com/AntoineLudwigGalli" target="_blank"><fa-icon [icon]="faGithub" class="text-light"></fa-icon></a></li>
    </ul>

</footer>


