<h1 class="text-center mt-3 mb-5">Mes réalisations</h1>
<h3 class="text-center mt-3 fst-italic">Mon portfolio, si vous préférez !</h3>

<div class="row mt-5 mx-2">
    <div class="col-12 d-flex flex-column align-items-center justify-content-center mb-5 col-md-6 col-lg-4">
        <h4>Action Culottée</h4>
        <img src="/assets/images/portfolio/actionculottee.png" alt="" class="col-12 mx-2">
        <a href="https://www.actionculottee.com/fr/">Découvrir le site</a>
        <a href="https://github.com/AntoineLudwigGalli/Action-Culottee">Projet Github</a>
    </div>

    <div class="col-12 d-flex flex-column align-items-center justify-content-center mb-5 col-md-6 col-lg-4">
        <h4>Auxois FM</h4>
        <img src="/assets/images/portfolio/auxois-fm.png" alt="" class="col-12 mx-2">
        <a href="http://www.auxois-fm.fr/">Découvrir le site</a>
        <a href="https://github.com/AntoineLudwigGalli/AuxoisFM">Projet Github</a>
    </div>

    <div class="col-12 d-flex flex-column align-items-center justify-content-center mb-5 col-md-6 col-lg-4">
        <h4>A.L.I.C.E. - Le Blog</h4>
        <img src="/assets/images/portfolio/alice-le-blog.png" alt="" class="col-12 mx-2">
        <a href="https://alice-le-blog.fr/">Découvrir le site</a>
        <a href="https://github.com/AntoineLudwigGalli/alice-le-blog">Projet Github</a>
    </div>

    <div class="col-12 d-flex flex-column align-items-center justify-content-center mb-5 col-md-6 col-lg-4">
        <h4>A.L.I.C.E. (ancien site)</h4>
        <img src="/assets/images/portfolio/alice-futur.png" alt="" class="col-12 mx-2">
        <a href="https://futur.alicedeveloppementweb.fr/">Découvrir le site</a>
        <a href="https://github.com/AntoineLudwigGalli/site-vitrine-alice">Projet Github</a>
    </div>

    <div class="col-12 d-flex flex-column align-items-center justify-content-center mb-5 col-md-6 col-lg-4">
        <h4>Twist Around The Rock</h4>
        <img src="/assets/images/portfolio/tatr.png" alt="" class="col-12 mx-2">
        <a href="http://www.twistaroundtherock.be/">Découvrir le site</a>
        <a href="https://github.com/AntoineLudwigGalli/twist-around-the-rock">Projet Github</a>
    </div>

    <div class="col-12 d-flex flex-column align-items-center justify-content-center mb-5 col-md-6 col-lg-4">
        <h4>A.L.I.C.E.'s Ligeia Videochat</h4>
        <img src="/assets/images/portfolio/ligeia.png" alt="" class="col-12 mx-2">
        <a [routerLink]="['/contact']" fragment="#" onclick="alert('Pour l\'instant ce videochat n\'est pas public. Contactez-moi pour l\'essayer')">Découvrir le site</a>
        <a href="https://github.com/AntoineLudwigGalli/Ligeia">Projet Github</a>
    </div>
</div>

<h3 class="text-end my-3 me-3 fst-italic">... et bientôt un nouvel encadré avec votre site dedans !</h3>





