<h1  class="text-center mt-3 mb-5">Votre (futur ?) site internet</h1>
<div class="row my-3">
    <video src="assets/videos/presentation.mp4" controls class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3"></video>
</div>
<section  class="mx-2">
    <h2 class="col-12 text-center mt-5 mb-3 text-md-start offset-md-1 col-lg-4 offset-lg-2">Un site ? Pour quoi faire ?</h2>
    <article class="row">
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sequi dolores atque perspiciatis quam, ab quia eligendi voluptatem unde rem est tenetur nobis, quibusdam dignissimos tempore accusamus perferendis dolor. Illo.</p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sequi dolores atque perspiciatis quam, ab quia eligendi voluptatem unde rem est tenetur nobis, quibusdam dignissimos tempore accusamus perferendis dolor. Illo.</p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sequi dolores atque perspiciatis quam, ab quia eligendi voluptatem unde rem est tenetur nobis, quibusdam dignissimos tempore accusamus perferendis dolor. Illo.</p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sequi dolores atque perspiciatis quam, ab quia eligendi voluptatem unde rem est tenetur nobis, quibusdam dignissimos tempore accusamus perferendis dolor. Illo.</p>
    </article>    
</section>

<section id="site-creation" class="mx-2">
    <h2 class="col-12 text-center mt-5 mb-3 text-md-none col-md-8 offset-md-1">Créer votre site, c'est possible !</h2>
    <article class="row">
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sequi dolores atque perspiciatis quam, ab quia eligendi voluptatem unde rem est tenetur nobis, quibusdam dignissimos tempore accusamus perferendis dolor. Illo.</p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sequi dolores atque perspiciatis quam, ab quia eligendi voluptatem unde rem est tenetur nobis, quibusdam dignissimos tempore accusamus perferendis dolor. Illo.</p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sequi dolores atque perspiciatis quam, ab quia eligendi voluptatem unde rem est tenetur nobis, quibusdam dignissimos tempore accusamus perferendis dolor. Illo.</p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sequi dolores atque perspiciatis quam, ab quia eligendi voluptatem unde rem est tenetur nobis, quibusdam dignissimos tempore accusamus perferendis dolor. Illo.</p>
    </article>    
</section>

<section id="site-maintain" class="mx-2">
    <h2 class="col-12 text-center mt-5 mb-3 col-md-6 offset-md-4 col-lg-4 offset-lg-5">Entretenir votre site</h2>
    <article class="row">
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sequi dolores atque perspiciatis quam, ab quia eligendi voluptatem unde rem est tenetur nobis, quibusdam dignissimos tempore accusamus perferendis dolor. Illo.</p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sequi dolores atque perspiciatis quam, ab quia eligendi voluptatem unde rem est tenetur nobis, quibusdam dignissimos tempore accusamus perferendis dolor. Illo.</p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sequi dolores atque perspiciatis quam, ab quia eligendi voluptatem unde rem est tenetur nobis, quibusdam dignissimos tempore accusamus perferendis dolor. Illo.</p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sequi dolores atque perspiciatis quam, ab quia eligendi voluptatem unde rem est tenetur nobis, quibusdam dignissimos tempore accusamus perferendis dolor. Illo.</p>
    </article>    
</section>

<section id="site-fix" class="mx-2">
    <h2 class="col-12 text-center col-md-5 offset-md-7 mt-5 mb-3 col-lg-4 offset-lg-7">Réparer votre site</h2>
    <article class="row">
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sequi dolores atque perspiciatis quam, ab quia eligendi voluptatem unde rem est tenetur nobis, quibusdam dignissimos tempore accusamus perferendis dolor. Illo.</p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sequi dolores atque perspiciatis quam, ab quia eligendi voluptatem unde rem est tenetur nobis, quibusdam dignissimos tempore accusamus perferendis dolor. Illo.</p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sequi dolores atque perspiciatis quam, ab quia eligendi voluptatem unde rem est tenetur nobis, quibusdam dignissimos tempore accusamus perferendis dolor. Illo.</p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sequi dolores atque perspiciatis quam, ab quia eligendi voluptatem unde rem est tenetur nobis, quibusdam dignissimos tempore accusamus perferendis dolor. Illo.</p>
    </article>    
</section>

