<h1  class="text-center mt-3 mb-5">Votre (futur ?) site internet</h1>
<!-- <div class="row my-3">
    <video src="assets/videos/presentation.mp4" controls class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3"></video>
</div> -->
<section id="site-why" class="py-5">
    <h2 class="col-12 text-center mb-5 text-md-start offset-md-1 col-lg-4 offset-lg-2">Un site ? Pour quoi faire ?</h2>

    <article class="row mx-1 mx-md-0">
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Il permet de <strong>booster la visibilité</strong> de votre entreprise et ainsi <strong>conquérir et fidéliser</strong> vos clients. Une présence en ligne vous <strong>rapproche de vos clients</strong>  mais aussi de vos <strong>prospects</strong> !</p>

        <img src="assets/images/web-illustrations/get-clients.avif" alt="" class="my-2 col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">

        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Votre site est <strong>votre publicité en ligne</strong> et celle-ci est souvent <strong>moins onéreuse</strong>  et <strong>plus efficace</strong> que la publicité traditionnelle. Et ce qui me permet de l'affirmer, c'est qu'elle est beaucoup plus facilement <strong>mesurable</strong> ! Grâce aux <strong>outils de statistiques</strong> que j'intègre à votre site, on voit rapidement si une stratégie de communication atteint son but ou non et on peut être alors <strong>très réactif</strong> sur les mesures correctives sans avoir à recommencer de zéro sa campagne.</p>

        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Un site c'est un gain de productivité : vous pouvez <strong>informer vos clients</strong> sur vos produits ou services <strong>24h/24 et 7j/7</strong> ou <strong>répondre à leurs demandes</strong> en ligne avec un <strong>suivi plus précis</strong> et <strong>moins de moyens humains</strong> que par téléphone.</p>

        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Avec une <strong>présence forte en ligne</strong>, vous <strong>imposez</strong> et surtout <strong>maitrisez votre image</strong> ! Je mets <strong>votre image</strong> au coeur de votre site et mets en oeuvre les leviers propices à un <strong>référencement en ligne</strong> correspondant à <strong>votre stratégie</strong> afin que votre image soit diffusée à <strong>votre public cible</strong>.</p>

        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Saviez-vous que <strong>80%</strong> des internautes font <strong>une recherche en ligne avant d'acheter</strong> un produit ou un service ? <strong>Les gens vous cherchent</strong> et mon rôle c'est qu'ils vous trouvent facilement. Et pour cela, j'intègrerai à votre site les outils nécessaires pour que les grands <strong>moteurs de recherche (Google, Bing etc...)</strong>  affichent <strong>votre site en bonne position</strong>  quand un internaute tape des mots-clés afférents à votre activité.</p>

        <img src="assets/images/web-illustrations/smartphone-sales.jpg" alt="" class="my-2 col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">

        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2"><strong>Plus de la moitié</strong> des internautes naviguent grâce à leur <strong>smartphone</strong>. Je rends votre site <strong>compatible à tout type d'écran</strong> pour le confort de vos utilisateurs. On appelle ça le <strong>responsive design</strong> !</p>

        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Les <strong>ventes en ligne</strong> ont augmenté de <strong>+96,5%</strong> entre 2014 et 2021. Et je peux <a [routerLink]='"/contact"' fragment="top"><strong>vous accompagner</strong></a> pour profiter de ce nouveau mode de distribution <strong>simplement</strong>  et <strong>efficacement</strong> !</p>
    </article> 
</section>

<section id="site-creation" class="py-5">
    <h2 class="col-12 text-center mb-5 text-md-none col-md-8 offset-md-1">Créer votre site, c'est possible !</h2>
    <article class="row mx-1 mx-md-0">
            <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Nous fixons ensemble un <a [routerLink]='"/contact"' fragment="top"><strong>rendez-vous gratuit</strong></a> en face à face ou à distance en visio-conférence ou par téléphone.</p>

            <img src="assets/images/web-illustrations/appointment-creation.jpg" alt="" class="my-2 col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">

            <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-4">Au cours de ce rendez-vous :</p>
            <ul class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 ps-5 ">
                <li>J'analyse <strong>vos besoins et/ou problématiques</strong>  numériques. <strong> J'échange avec vous</strong> sur les pistes que vous envisagez d'explorer. Une idée déjà précise de ce que vous voulez ? <strong>Parlons-en !</strong></li>
                <li>Je vous aide à <strong>cibler et à hiérarchiser</strong> vos besoins numériques afin d'établir une <strong>stratégie de développement</strong>.</li>
                <li>Je prends en compte vos <strong>disponibilités</strong> et contraintes temporelles et financières.</li>
            </ul>
            <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-4">A la suite de ce rendez-vous :</p>
            <ul class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 ps-5 ">
                <li>Je rédige un <strong>cahier des charges</strong> retraçant nos échanges.</li>
                <li>Je vous propose un <strong>devis</strong> intégrant ce cahier des charges.</li>
                <li>Je vous envoie le devis et fixe une date avec vous pour échanger sur celui-ci par téléphone et apporter les modifications nécessaires si besoin.</li>
                <li>Une fois le devis accepté, je réalise la <strong>maquette du site</strong>. Quand la maquette vous convient je réalise le site en vous tenant <strong>informé régulièrement</strong> de son avancée par mail.</li>
            </ul>

            <img src="assets/images/web-illustrations/site-development.jpg" alt="" class="my-2 col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
           
            <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-4">Une fois le site terminé :</p>
            <ul class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 ps-5 ">
                <li>Je le mets <strong>en ligne</strong>.</li>
                <li>Je rédige son <strong>mode d'emploi</strong> et <strong>je vous forme vous et/ou vos collaborateurs</strong> à son utilisation à distance ou dans vos locaux.</li>
                <li>Je reste <strong>à votre disposition</strong> pour corriger les bugs et anomalies liés au développement et constatés pendant <strong>un mois</strong> suivant la mise en ligne.</li>
                <li>J'assure la <strong>maintenance du site</strong>.
                </li>
            </ul>
    </article>    
</section>

<section id="site-maintain" class="py-5">
    <h2 class="col-12 text-center mb-5 col-md-6 offset-md-4 col-lg-4 offset-lg-5">Entretenir votre site</h2>
    <article class="row mx-1 mx-md-0">
    
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Un site ou une application, c'est tout <strong>un tas de composants technologiques</strong> qui doivent être <strong>mis à jour régulièrement</strong>. Et ça n'est vraiment <strong>pas du luxe</strong> ! Un site non maintenu risque de ne plus fonctionner correctement mais surtout s'expose à des <strong>failles de sécurité</strong>.</p>

        <img src="assets/images/web-illustrations/maintenance.jpg" alt="" class="my-2 col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">

        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Les <strong>hackers</strong> et autres <strong>cyber-escrocs</strong> mettent tous les jours au point de nouvelles techniques pour <strong>trouver des failles</strong> dans les systèmes existants. Leur mine d'or, ce sont <strong>vos données</strong> et donc même si un piratage est <strong>invisible</strong>, vos données peuvent être volées. Heureusement, ces failles sont souvent comblées aussi vite qu'elles ont été décelées. Mais pour que votre site profite de ces "colmatages de brêches", il faut <strong>mettre à jour les composants</strong> concernés.</p>

        <img src="assets/images/web-illustrations/panic.jpg" alt="" class="my-2 col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">

        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2"><em>&laquo; Pourquoi ne pas mettre à jour moi-même mon site ? Après tout ce n'est qu'un clic sur le bouton mise à jour ! &raquo;</em> Eh bien oui, vous pouvez le faire vous même <strong>si vous savez ce que vous faites</strong>. Dans le cas de CMS comme Wordpress par exemple, ce n'est qu'un bouton à cliquer en effet. Mais derrière cet acte, la mise à jour peut créer des <strong>dysfonctionnements</strong> sur le site et alors, à moins d'avoir <strong>les compétences nécessaires</strong>, il faut faire intervenir un professionnel pour <strong>"réparer" le site</strong>. Parfois les dégats sont invisibles mais créent des failles dans d'autres composants etc... Bref, il vaut mieux faire <strong>entretenir son site</strong>, comme sa voiture, <a [routerLink]='"/contact"' fragment="top"><strong>par un professionnel et régulièrement</strong></a>.</p>

        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Que le site ait été <strong>créé par moi ou non</strong>, je vous propose d'en assurer la <strong>maintenance</strong>. Ma <strong>veille technologique permanente</strong> me permet de pouvoir <strong>intervenir rapidement</strong> en cas de <strong>risque pour la sécurité de vos données</strong>. Et je mets régulièrement à jour les composants <strong>pour vous</strong>.</p>

        <img src="assets/images/web-illustrations/hello.jpg" alt="" class="my-2 col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
        
        
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-4">Au cours de ce rendez-vous :</p>
        <ul class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 ps-5 ">
            <li>Je fais un <strong>audit gratuit</strong> de votre site.</li>
            <li>J'analyse <strong>vos besoins et/ou problématiques</strong> numériques. <strong> J'échange avec vous</strong> sur les pistes que vous envisagez d'explorer en cas de <strong>projet de rénovation</strong>. Une idée déjà précise de ce que vous voulez ? <strong>Parlons-en !</strong></li>
            <li>Je prends en compte vos <strong>disponibilités</strong> et contraintes temporelles et financières.</li>
        </ul>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-4">A la suite de ce rendez-vous :</p>
        <ul class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 ps-5 ">
            <li>En cas de <strong>rénovation</strong> du site, je vais établir un <strong>cahier des charges</strong> sur la base de nos échanges afin de vous proposer un devis puis je vais suivre la même méthodologie que celle décrite pour les <strong>créations de site</strong>.</li>
            <li>En cas de <strong>contrat de maintenance</strong>, je vous propose un <strong>devis personnalisé</strong>  pour un <strong>contrat annuel</strong> de maintenance incluant les <strong>mises à jour et les correctifs de sécurité</strong>  et plus si besoin.</li>
            <li>Tout au long du contrat, je vous tiens <strong>informé par mail</strong> des actions effectuées sur votre site.</li>
        </ul>

        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-4">Dans tous les cas, je vous conseille de choisir un <strong>entretien et une maintenance réguliers</strong>  de votre site ou de votre application et ce <strong>dès sa création</strong>.</p>
    </article>

</section>

<section id="site-fix" class="py-5 ">
    <h2 class="col-12 text-center mb-5 col-md-5 offset-md-7 mt-5 mb-3 col-lg-4 offset-lg-7">Réparer votre site</h2>
    <article class="row mx-1 mx-md-0">
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Si vous disposez déjà d'un site qui est, soit <strong>dysfonctionnel</strong> (défaut de maintenance régulière ?), soit <strong>daté</strong>, soit tout simplement <strong>plus adapté à votre image</strong>, je peux le <strong>rénover</strong>.</p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Comme on rénove une maison, quand je rénove un site, vous m'indiquez les pages, les éléments à changer. On peut conserver uniquement les murs ou ne refaire que la cuisine. Mais attention, comme dans l'immobilier, il coûte parfois moins cher de tout raser pour tout reconstruire !</p>

        <img src="assets/images/web-illustrations/site-fix.jpg" alt="" class="my-2 col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">

        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-4 mb-3"><strong class="fs-4">Comment ça se passe ?</strong></p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mb-4">Nous fixons ensemble un <a [routerLink]='"/contact"' fragment="top"><strong>rendez-vous gratuit</strong></a> en face à face ou à distance en visio-conférence ou par téléphone.</p>
        <ul class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 ps-5 ">
            <li>Je fais un <strong>audit gratuit</strong> de votre site.</li>
            <li>J'analyse <strong>vos besoins et/ou problématiques</strong> numériques. <strong> J'échange avec vous</strong> sur les pistes que vous envisagez d'explorer en cas de <strong>projet de rénovation</strong>. Une idée déjà précise de ce que vous voulez ? <strong>Parlons-en !</strong></li>
            <li>Je prends en compte vos <strong>disponibilités</strong> et contraintes temporelles et financières.</li>
            <li>En cas de <strong>rénovation</strong> du site, je vais établir un <strong>cahier des charges</strong> sur la base de nos échanges afin de vous proposer un devis puis je vais suivre la même méthodologie que celle décrite pour les <strong>créations de sites.</strong></li>
        </ul>


        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Votre site se comporte de <strong>manière étrange</strong> ? Il est peut-être victime d'un <strong>piratage</strong> ou d'une <strong>cyber-attaque</strong> !</p>

        <img src="assets/images/web-illustrations/cyber-attack.jpg" alt="" class="my-2 col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">

        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 ps-5">Plusieurs éléments doivent vous alerter:</p>
        <ul class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 ps-5">
            <li>Votre site affiche du contenu dont vous n'êtes pas à l'origine</li>
            <li>Votre site affiche une ou plusieurs fenêtres <strong>intempestives</strong> (pop-up)</li>
            <li>Vous ne pouvez plus accéder à panneau d'administration</li>
            <li>Votre site est <strong>anormalement lent</strong> ou complètement <strong>inutilisable</strong></li>
            <li>Des publicités ou du <strong>contenu inappproprié</strong> sont postés en nombre en commentaires de vos publications</li>
            <li>De manière générale <strong>toute anomalie</strong> doit amener à se questionner sur la sécurité de son site internet</li>
        </ul>

        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Si votre site se comporte comme décrit dans un des points ci-dessus, il vaut mieux <a [routerLink]="['/contact']" fragment="top"><strong>contacter un professionnel</strong></a>.</p>
        
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorsque j'interviens dans le cadre d'une faille de sécurité, ma priorité est de <strong>stopper l'attaque</strong> si elle est en cours et de <strong>sécuriser le site et ses données</strong>.</p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">La seconde étape consiste à <strong>nettoyer le site</strong> de toute trace d'infection. Si on passe à côté d'un élément corrompu, le site risque d'être à nouveau attaqué très rapidement.</p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Enfin, une fois le site nettoyé, je le sécurise afin d'<strong>éviter toute nouvelle intrusion</strong>.</p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">L'erreur étant humaine, <strong>je garantis toutes mes interventions</strong> sur site piraté pendant un an. Si le site est à nouveau attaqué dans l'année, j'interviens <strong>gratuitement</strong> <em> (mais ce n'est encore jamais arrivé, heureusement !)</em></p>

        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-4">Dans tous les cas, je vous conseille de choisir un <strong>entretien et une maintenance réguliers</strong>  de votre site ou de votre application et ce <strong>dès sa création</strong>. </p>

        <img src="assets/images/web-illustrations/serenity.jpg" alt="" class="my-4 col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">

        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-center">
            <em>Enfin moi je dis ça, c'est pour votre <strong>sérénité</strong> !</em>
        </p>
            
    </article>    
</section>

