<h1 class="text-center mt-3 mb-5">A la rencontre d'A.L.I.C.E.</h1>
<!-- <div class="row my-3">
    <video src="assets/videos/presentation.mp4" controls class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3"></video>
</div> -->
<section id="alice-concept"  class="py-5">
    <h2 class="col-8 mb-5 col-md-10 offset-md-1 col-lg-4 offset-lg-2">Le concept A.L.I.C.E.</h2>
    <article class="row">
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sequi dolores atque perspiciatis quam, ab quia eligendi voluptatem unde rem est tenetur nobis, quibusdam dignissimos tempore accusamus perferendis dolor. Illo.</p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sequi dolores atque perspiciatis quam, ab quia eligendi voluptatem unde rem est tenetur nobis, quibusdam dignissimos tempore accusamus perferendis dolor. Illo.</p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sequi dolores atque perspiciatis quam, ab quia eligendi voluptatem unde rem est tenetur nobis, quibusdam dignissimos tempore accusamus perferendis dolor. Illo.</p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sequi dolores atque perspiciatis quam, ab quia eligendi voluptatem unde rem est tenetur nobis, quibusdam dignissimos tempore accusamus perferendis dolor. Illo.</p>
    </article>    
</section>

<section id="aboutme" class="py-5">
    <h2 class="text-center mb-5">Antoine, pour vous servir !</h2>
    <article class="row">
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sequi dolores atque perspiciatis quam, ab quia eligendi voluptatem unde rem est tenetur nobis, quibusdam dignissimos tempore accusamus perferendis dolor. Illo.</p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sequi dolores atque perspiciatis quam, ab quia eligendi voluptatem unde rem est tenetur nobis, quibusdam dignissimos tempore accusamus perferendis dolor. Illo.</p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sequi dolores atque perspiciatis quam, ab quia eligendi voluptatem unde rem est tenetur nobis, quibusdam dignissimos tempore accusamus perferendis dolor. Illo.</p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sequi dolores atque perspiciatis quam, ab quia eligendi voluptatem unde rem est tenetur nobis, quibusdam dignissimos tempore accusamus perferendis dolor. Illo.</p>
    </article>    
</section>

<section id="partners" class="py-5">
    <h2 class="col-8 offset-4 col-md-5 offset-md-7 mb-5 col-lg-4 offset-lg-8">Ils me font confiance</h2>
    <h3 class="ms-5 mt-3 fst-italic">Plus que des clients, des <mark>partenaires</mark> !</h3>
    <article class="row d-flex flex-column justify-content-center align-items-center flex-md-row mx-md-2">
        <img class="col-10 offset-1 mx-0 my-2 col-md-4 col-lg-3 offset-lg-0" src="../../assets/images/partners/actionculottee.png" alt="">
        <img class="col-10 offset-1 mx-0 my-2 col-md-4 col-lg-3 offset-lg-0" src="../../assets/images/partners/anis-de-flavigny.png" alt="">
        <img class="col-10 offset-1 mx-0 my-2 col-md-4 col-lg-3 offset-lg-0" src="../../assets/images/partners/auxoisfm.png" alt="">
        <img class="col-10 offset-1 mx-0 my-2 col-md-4 col-lg-3 offset-lg-0" src="../../assets/images/partners/mjc-vll.png" alt="">
        <img class="col-10 offset-1 mx-0 my-2 col-md-4 col-lg-3 offset-lg-0" src="../../assets/images/partners/tatr.png" alt="">
        <img class="col-10 offset-1 mx-0 my-2 col-md-4 col-lg-3 offset-lg-0" src="../../assets/images/partners/bge.png" alt="">
    </article>    
</section>