/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

body{
    border: #1a384d solid 1px;
    margin: 10px;
}

// To top button

.to-top {
    bottom: 1rem;
    cursor: pointer;
    margin: 0 8px 12px 0;
    position: fixed;
    right: 1rem;
    opacity: 0;
}

.show-scrollTop {
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

// Header
.navbar-toggler{
    height: 10vh;
}

.navbar-toggler img{
    height: 7vh;
    width: 7vw;
}

.reversed-mini-logo{
    transform: scaleX(-1);
}

@media screen and (min-width: 768px) {
    // Header
    .navbar-toggler{
        height: 12vh;
    }
    .navbar-toggler img{
        width: 4vw;
        margin-right: 8%;
        margin-left: 2%;
    }
}