/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Lao:wght@300;400&family=Roboto&display=swap');
 

*{
    font-family: 'Noto Serif Lao', serif;
}

body{
    border: #1a384d solid 5px;
    margin: 10px;
    border-radius: 10px;
    color: #1a384d;
    background-color: #eeeef3;
}

// To top button

.to-top {
    bottom: 3rem;
    cursor: pointer;
    margin: 0 8px 12px 0;
    position: fixed;
    right: 5rem;
    opacity: 0;
}

.show-scrollTop {
    opacity: 1;
    transition: all 0.2s ease-in-out;
}