<h1 class="text-center mt-3 mb-5">Assistance numérique</h1>
<div class="row my-3">
    <video src="assets/videos/presentation.mp4" controls class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3"></video>
</div>
<section id="assistance" class="py-5">
    <h2 class="col-8 mb-5 col-md-10 offset-md-1 col-lg-4 offset-lg-2">Accompagnement et assistance à domicile</h2>
    <article class="row">
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sequi dolores atque perspiciatis quam, ab quia eligendi voluptatem unde rem est tenetur nobis, quibusdam dignissimos tempore accusamus perferendis dolor. Illo.</p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sequi dolores atque perspiciatis quam, ab quia eligendi voluptatem unde rem est tenetur nobis, quibusdam dignissimos tempore accusamus perferendis dolor. Illo.</p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sequi dolores atque perspiciatis quam, ab quia eligendi voluptatem unde rem est tenetur nobis, quibusdam dignissimos tempore accusamus perferendis dolor. Illo.</p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sequi dolores atque perspiciatis quam, ab quia eligendi voluptatem unde rem est tenetur nobis, quibusdam dignissimos tempore accusamus perferendis dolor. Illo.</p>
    </article>    
</section>

<section id="courses" class="py-5">
    <h2 class="text-center mb-5">Cours individuels à la carte</h2>
    <article class="row">
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sequi dolores atque perspiciatis quam, ab quia eligendi voluptatem unde rem est tenetur nobis, quibusdam dignissimos tempore accusamus perferendis dolor. Illo.</p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sequi dolores atque perspiciatis quam, ab quia eligendi voluptatem unde rem est tenetur nobis, quibusdam dignissimos tempore accusamus perferendis dolor. Illo.</p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sequi dolores atque perspiciatis quam, ab quia eligendi voluptatem unde rem est tenetur nobis, quibusdam dignissimos tempore accusamus perferendis dolor. Illo.</p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sequi dolores atque perspiciatis quam, ab quia eligendi voluptatem unde rem est tenetur nobis, quibusdam dignissimos tempore accusamus perferendis dolor. Illo.</p>
    </article>    
</section>

<section id="collective-courses" class="py-5">
    <h2 class="col-8 offset-4 col-md-5 offset-md-7 mb-5 col-lg-4 offset-lg-7">Cours collectifs à la demande</h2>
    <article class="row">
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sequi dolores atque perspiciatis quam, ab quia eligendi voluptatem unde rem est tenetur nobis, quibusdam dignissimos tempore accusamus perferendis dolor. Illo.</p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sequi dolores atque perspiciatis quam, ab quia eligendi voluptatem unde rem est tenetur nobis, quibusdam dignissimos tempore accusamus perferendis dolor. Illo.</p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sequi dolores atque perspiciatis quam, ab quia eligendi voluptatem unde rem est tenetur nobis, quibusdam dignissimos tempore accusamus perferendis dolor. Illo.</p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sequi dolores atque perspiciatis quam, ab quia eligendi voluptatem unde rem est tenetur nobis, quibusdam dignissimos tempore accusamus perferendis dolor. Illo.</p>
    </article>    
</section>


