<h1 class="text-center mt-3 mb-5">Assistance numérique</h1>
<h3 class="text-center mt-3 fst-italic">«Apprendre dans la bonne humeur,</h3>
<h3 class="text-center fst-italic">pratiquer sans peur,</h3>
<h3 class="text-center mb-5 fst-italic">progresser d'heure en heure !»</h3>
<!-- <div class="row my-3">
    <video src="assets/videos/presentation.mp4" controls class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3"></video>
</div> -->
<section id="assistance" class="py-5">
    <h2 class="col-12 text-center mb-5 text-md-start offset-md-1 col-lg-6 offset-lg-2">Accompagnement, assistance ou cours</h2>
    <article class="row mx-1 mx-md-0">
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Les <strong>outils numériques</strong> sont <strong>incontournables</strong> de nos jours. Gérer ses <strong>impôts</strong>, communiquer avec <strong>ses proches</strong> à distance, <strong>s'informer</strong>, etc. Désormais, énormément de démarches s'effectuent en ligne avec <strong>un accompagnement</strong> souvent <strong>minimal</strong>.</p>

        <img src="assets/images/assistance-illustrations/stress.jpg" alt="" class="my-2 col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">

        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Beaucoup ont <strong>peur de ces nouveaux outils</strong> et, soit ne s'équipent pas, soit s'équipent mais... ne les utilisent pas à leur plein potentiel pour autant.</p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Plutôt que d'apprendre des généralités sur l'informatique ou les nouvelles technologies, je vous propose de <strong>vous accompagner</strong> dans <strong>votre utilisation</strong> du numérique. Se servir de <strong>vos outils</strong> pour apprendre <strong>uniquement ce qui vous intéresse</strong>. Pour cela, je privilégie les <strong>accompagnements individuels</strong> et <strong>personnalisés</strong>.</p>

        <img src="assets/images/assistance-illustrations/hand.jpg" alt="" class="my-2 col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">

        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2"><strong>Je prends le temps</strong>  de vous montrer comment utiliser votre téléphone pour passer des <strong>appels vidéos</strong> ou à utiliser votre tablette pour <strong>correspondre par mail</strong> ou encore à utiliser votre ordinateur pour effectuer <strong>vos démarches administratives</strong> par exemple. </p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Je peux également <strong>animer des ateliers</strong> ciblés à la demande de mairies, d'associations ou autres organismes souhaitant proposer de la <strong>formation numérique</strong>. Je m'adapte totalement à vos besoins pédagogiques.</p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Enfin, je peux proposer des <strong>cours plus complets</strong> autour de l'outil informatique, soit en individuel, soit en collectif.</p>

        <img src="assets/images/assistance-illustrations/relaxed-users.jpg" alt="" class="my-2 col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">

    </article>    
</section>

<section id="method" class="py-5">
    <h2 class="text-center mb-5">Ma méthode pédagogique</h2>
    <article class="row mx-1 mx-md-0">
        <h5 class="my-5 text-center">Nous fixons ensemble un <a [routerLink]="['/contact']" fragment="top"><strong>rendez-vous gratuit</strong></a> en face à face ou à distance en visio-conférence ou par téléphone.</h5>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-4">Au cours de ce rendez-vous :</p>
        <ul class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 ps-5 ">
            <li>J'analyse <strong>vos besoins et/ou problématiques</strong>  numériques. <strong> J'échange avec vous</strong> sur les pistes que vous envisagez d'explorer. Une idée déjà précise de ce que vous voulez ? <a [routerLink]="['/contact']" fragment="top"><strong>Parlons-en !</strong></a></li>
            <li>Nous définissons ensemble la teneur de l'accompagnement que je vais vous apporter. Parfois des interventions ponctuelles sur des sujets précis suffiront, parfois ça sera un accompagnement sur le long terme selon ce que vous souhaitez apprendre.</li>
            <li>Je prends en compte vos <strong>disponibilités</strong> et contraintes temporelles et financières.</li>
        </ul>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-4">Comment se déroule l'accompagnement numérique ? </p>
        <ul class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 ps-5 ">
            <li>Nous utilisons toujours <strong>votre matériel</strong> pour que vous puissiez appliquer au mieux vos acquis.</li>
            <li>Je vous montre et vous explique simplement avec un langage <strong>clair, accessible et pedagogique</strong>.</li>
            <li>Je vous fais <strong>pratiquer, pratiquer et encore pratiquer</strong> ! En vous encourageant et en vous rassurant, dans la <strong>bienveillance</strong> et la <strong>bonne humeur</strong> !</li>
        </ul>


        <img src="assets/images/assistance-illustrations/happy-dude.jpg" alt="" class="my-2 col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
    </article>    
</section>

<section id="pricing" class="py-5">
    <h2 class="col-8 offset-4 col-md-5 offset-md-7 mb-5 col-lg-4 offset-lg-7">Combien ça coûte ?</h2>
    <article class="row mx-1 mx-md-0">
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Mon objectif est de pouvoir rendre mon accompagnement <strong>accessible au plus grand nombre</strong>. C'est pourquoi mes services pédagogiques et d'assistance sont éligibles au <strong>crédit d'impôt</strong> pour les emplois à domicile (toutes les infos <a href="https://www.impots.gouv.fr/particulier/emploi-domicile">ici</a>).</p>

        <img src="assets/images/assistance-illustrations/piggy-bank.avif" alt="" class="my-2 col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">

        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">En clair, que vous payiez de l'impôt sur le revenu ou pas, vous serez <strong>remboursé à hauteur de 50%</strong> des sommes engagées pour mes services (<span class="fst-italic">dans la limite de 3000€/an, ça va, on a de la marge !</span>) sous forme de crédit d'impôt.</p>

        <h4 class="text-center mt-3 mb-2 fst-italic">D'accord, mais ça fait combien tout ça ?</h4>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Pour de l'assistance et de l'accompagnement à domicile, le tarif est de 25€/heure (toute heure entamée étant dûe), ce qui fait à votre charge <strong>12.50€/h</strong> après remboursement du crédit d'impôts.</p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">Pour des cours plus techniques, ou des cours collectifs, je vous invite à <a [routerLink]="['/contact']" fragment="top"><strong>me contacter</strong></a> pour établir un devis personnalisé.</p>
        <p class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">En cas de déplacement à plus de 15km, il faudra compter un supplément de 3€ puis 1.50€ par tranche de 10km supplémentaires.</p>
    </article>    
</section>







